# compiled python
*.pyc

# pytest cache
*.cache

# virtual environments
venv*

# build artifacts
build
dist
*.egg-info/

# coverage
.coverage
htmlcov/

# temporary files
*~

# built documentation
docs/_build
