[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
testfixtures = "*"
mock = "*"
flake8 = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
black = {version = "==20.8b1", markers = "python_version>='3.6'" }

[packages]
cothread = "*"
accelerator-toolbox = ">=0.0.2"
pytac = ">=0.3.0"
epicscorelibs = "*"
