[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
mock = "*"
flake8 = "*"
pytest-lazy-fixture = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"

[packages]
numpy = ">=1.10"
scipy = ">=0.16"
pytest = ">=2.9"
pytest-cov = "*"
pytest-lazy-fixture = "*"
mock = "*"
flake8 = "*"
coveralls = "*"
cothread = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
