[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
mock = "*"
"flake8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-lazy-fixture = "*"

[packages]
numpy = "*"
scipy = "*"
