name: Code CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.7", "3.8", "3.9"]

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Python Dependencies
        run: |
          pip install pipenv twine
          pipenv install --dev --deploy --python $(which python) && pipenv graph

      - name: Run Tests
        run: pipenv run python -m pytest test

      - name: Check Formatting
        run: pipenv run black --check atip test
